table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
	text-align: left;
}
table tr:nth-child(even){
	background-color: #6B9BC3;
}
table tr:nth-child(odd){
	background-color: #6DDAD6;
}
table th {
	background-color: #9C6DDA;
}
table .head1 {
	background-color: #ffffff;
}